body
{
  background-image: url("../img/LogoSimp.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 480px)
{
  body
  {
    background-image: url("../img/LogoPrin.png");
  }
}

@media (min-width: 768px)
{

}

@media (min-width: 1024px)
{
  body
  {
    background-image: url("../img/aTodo.jpg");
    background-position: center;
    background-size: cover;
  }
}

/* 300 or less

*/
